body {
  font-family: "Montserrat", sans-serif;
}

.background {
  background: url(../img/background.jpg) center/cover no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  height: 100%;
  max-width: 1000px;
  margin: auto;

  @media (max-width: 1030px) {
    max-width: 100%;
    padding: 30px 15px;
  }
}

.form {
  background-color: #fff;
  padding: 20px;

  &__top {
    display: grid;
    grid-template-columns: 1fr 150px 150px;
    gap: 20px;

    @media (max-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__input-text {
    border: 1px solid rgb(191, 191, 191);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;

    @media (max-width: 800px) {
      grid-column: 1/3;
    }
  }

  &__select {
    border: 1px solid rgb(191, 191, 191);
    border-radius: 5px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;

    option {
      padding: 0px 10px;
    }
  }

  &__button {
    border: 1px solid rgb(191, 191, 191);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(191, 191, 191);
    padding: 10px;
  }
}
.content {
  background-color: #fff;
  padding: 20px;

  &__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
  }
}
.item {
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr auto auto;
  justify-content: space-between;
  align-items: center;

  &__checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__text {
    font-size: 20px;
  }

  &__change {
    width: 20px;
    height: 20px;
    background: url(../img/edit.svg) center/cover no-repeat;
    cursor: pointer;
  }

  &__delete {
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: relative;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: black;
      border-radius: 1px;
      position: absolute;
      top: 10px;

      &:nth-of-type(1) {
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        transform: rotate(-45deg);
      }
    }
  }
}
